Makefile
*.a
config.status
config.log
src/*/sysconfig.ufdbguard
src/sg.h
src/lex.yy.c
src/ufdb.h

src/config.h
src/y.tab.c
src/y.tab.h

src/ufdbhttpd
src/ufdbAnalyse
src/ufdbConvertDB
src/ufdbGenTable
src/ufdbGuard*
src/ufdbUpdate

src/*/ufdbguardd
src/*/ufdbgclient
src/*/ufdb.sh

test/test*.conf
